:root {
    --b: #B60;
    --t: #FAF9F6;
}

body {  
    font-family: "Zen Kaku Gothic New";  
    text-align: center;  
    margin-top: 70px;
    margin-bottom: 100px;
    background-color: var(--b);
    overflow-x: hidden;
    white-space: nowrap;
    transition: background-color 0.5s ease, color 0.5s ease;
}

a {
    font-size: 70px;
    color: var(--t);
    text-decoration: none;
}

@media only screen and (max-width:500px) 
{
a {font-size: 50px;}	
}

body.dark-mode {
    --b: #000;
    --t: #B60;
}